@use '../util/util_index' as *;


.header {
    margin-top: rem(36);
    display: flex;
    flex-wrap: wrap;
    
    @include breakpoint(medium){
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        width: 100%;
        border-bottom: 1px solid var(--text1);
        padding-bottom: rem(18);
        margin-bottom: rem(18);
        @include breakpoint(medium) {
            width: auto;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    &__subtitle {
        margin: 0;
        padding: 0;
        font-size: rem(14);
        font-weight: 700;
        color: var(--text1);
    }

}